<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">

</head>
<body>
<div class="header-site">
<center><h1><br> Space details(REPLACE) </h1></center>
</div>

<form action="/spaces/:id" method="post">
<button type="submit">Request to Book</button>
</form>
</body>
</html>
