<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">

</head>
<body>
<div class="header-site">
<center><h1><br> Space deatils(REPLACE) </h1></center>
</div>

</body>
</html>
