<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">

</head>
<body>
<div class="header-site">
<center><h1><br> Welcome to Bliss </h1></center>

<!-- <form action="/spaces" method="get">
  <input name="user_name" type="submit" value="Spaces"/>
</form>
<form action="/requests" method="get">
  <input name="requests" type="submit" value="Requests"/>
</form>
<form action="/logout" method="get">
  <input name="logout" type="submit" value="Logout"/>
</form> -->
</div>


    <center><h2> Listings </h2></center>
      <% @spaces.each do |space| %>
      <div class="container">

               <div align="center" class="one-third column value" nowrap>
              <font size="3"><%= space.space_name %>
              </div>
              <div align="left" class="one-third column value" nowrap style="line-height:1.0; font-size: 8px;">
              <i><font size="1"><%= space.description %></i>
              </div>
              <div align="right" class="end-small columnn value" nowrap >
              <br>£<%= space.price %> per night.
              </div>
          </div>
      </div>
      <% end %>
</body>
