<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../skeleton.css">
</head>
<body bgcolor="#ebe7dd">
  <div class="header-siterr">
  <center><h1> Welcome to Bliss, <br>log in below </h1>
  <center><h2>
    <%= flash[:notice] %>
  </h2>
  <center><form action="/sessions" method="post">
    <br><input name="email" type="email" placeholder="Email"/>
    <br><input name="password" type="password" placeholder="Password"/>
    <br><input type="submit" value="Sign in" />
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h6> If you don't have an account with us,<br>
      please go to our sign page below </h6>
    <center><form action="/signup" method="get">
      <input type="submit" value="Sign up" />
      </form>
    </div>
</body>
</html>
