<!Doctype html>
<html>
<head>
<style>
  body {
  background-image: url("bliss.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
</style>
</head>
<body>
  <center><h1> Welcome to Bliss, log in below </h1>
  <center><h2>
    <%= flash[:notice] %>
  </h2>
  <center><form action="/sessions" method="post">
    <br><input name="email" type="email" placeholder="Email"/>
    <br><input name="password" type="password" placeholder="Password"/>
    <br><input type="submit" value="Sign in" />
</body>
