<!Doctype>
<html>
<head>
<style>
  body {
  background-image: url("bliss.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
</style>
</head>

<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bliss</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style>
  body {
  background-image: url("bliss.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
</style>

</head>
<body>
<body>
  <h1> Adding a space to Bliss </h1>
  <form action="/spaces" method="get">
    <input name="spaces" type="submit" value="Spaces"/>
    <input name="requests" action="/requests" type="submit" value="Requests"/>
    <input action="/logout" name="logout" type="submit" value="Logout"/>
  </form>
<form action="/spaces" method="post">
  <input type="text" name="space_name" placeholder="Space Name" />
  <br><input type="text" name="description" placeholder="Space Description" />
  <br><input type="number" name="price" placeholder="Price per Night" />
  <br><input type="submit" value="Submit" />
</form>
</body>
</html>
