<!Doctype>
<html>
<head>
<style>
  body {
  background-image: url("bliss.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
</style>
</head>
<body>
  <h1> Adding a space to Bliss </h1>
  <form action="/spaces" method="get">
    <input name="spaces" type="submit" value="Spaces"/>
    <input name="requests" action="/requests" type="submit" value="Requests"/>
    <input action="/logout" name="logout" type="submit" value="Logout"/>
  </form>
<form action="/spaces" method="get">
  <input type="text" name="space_name" placeholder="Space Name" />
  <br><input type="text" name="description" placeholder="Space Description" />
  <br><input type="number" name="price" placeholder="Price per Night" />
  <br><input type="submit" value="Submit" />
</form>
</body>
</html>
