<!Doctype>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../skeleton.css">
</head>

<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bliss</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body bgcolor="#ebe7dd">

  <div class="header-siter">
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Menu
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/spaces">Listings</a>
          <a href="/requests">Requests</a>
          <a href="/spaces/new"> Add Listing </a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <br>
    <div class="w3-container w3-center w3-animate-opacity">
    <center><h1> Adding a space to Bliss </h1></center>
    </div>
<center><form action="/spaces" method="post">
  <br>
  <input type="text" name="space_name" placeholder="Space Name" />
  <br><input type="text" name="description" placeholder="Space Description" />
  <br><input type="number" name="price" placeholder="Price per Night" />
  <br>
  <br><label for="available_from">Available from:</label>
  <input type="date" name="available_from">
  <br>
  <br><label for="available_to">Available to:</label>
  <input type="date" name="available_to">
  <br><input type="submit" value="Submit" />
</form>
</div>
</body>
</html>
