<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">
</head>
<body>
<div class="header-site">
  <br>

  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/spaces">Listings</a>
        <a href="/requests">Requests</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
  <center><h1><br> Requests </h1></center>
  </div>


<div class="section values">

      <div class="row">
        <div class="one-half column value">
          <h2>Requests I've made</h2>
          <% @requests.each do |request| %>
          <% if request.user_id == @id_compare %>
          <%= request.space_name %> <%= request.confirmed %><br>
          <% end %>

          <% end %>
        </div>
        </div>

        <div class="one-half column value">
          <h2>Requests I've recieved</h2>
        </div>
      </div>
      </body>
