
<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bliss</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script


</head>
<body>
<div class="header-site">

    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Menu
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/spaces">Listings</a>
          <a href="/requests">Requests</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>

<center><h1> Welcome to Bliss, <%= @user.user_name %>! </h1>

</div>


    <center><h2> Listings </h2></center>
    <center><form action="spaces/search" method="post">
      Check-in date
      <input type="date" id="from" name="from">
      <input type="submit" value="Search" />
      </form>


        <% @available_spaces.each do |space| %>
        <div class="container">
                 <div align="center" class="one-third column value" nowrap>
                <font size="3"><%= space.space_name %>
                </div>
                <div align="left" class="one-third column value" nowrap style="line-height:1.0; font-size: 8px;">
                <i><font size="1"><%= space.description %></i>
                </div>
                <div align="right" class="end-small columnn value" nowrap >
                <br>£<%= space.price %> per night.
                </div>
            </div>
        <%end %>
</body>
