<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="skeleton.css">

</head>
<body>
<div class="header-siter">
<center><h1><br> Welcome to Bliss </h1></center>
<center><h2> Please sign up below </h2>
  <center><form action="/signup/new" method="post">
    <input name="user_name" type="text" placeholder="Your name"/>
    <br><input name="email" type="email" placeholder="Email"/>
    <br><input name="password" type="password" placeholder="Password"/>
    <br><input name="password_confirm" type="password" placeholder="Confirm Password"/>
    <br><input type="submit" value="Submit" />
    </form>
    <br>
    <center><h6> If you already have an account with us,<br>
      please login below </h6>
    <center><form action="/login" method="get">
      <input type="submit" value="Login" />
      </form>
</div>


</body>
