<!Doctype html>
<html>
<head>
<style>
  body {
  background-image: url("bliss.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
</style>
</head>
<body>
  <h1> Welcome to Bliss, sign up below </h1>
  <center><form action="/spaces" method="get">
    <input name="user_name" type="text" placeholder="Your name"/>
    <br><input name="email" type="email" placeholder="Email"/>
    <br><input name="password" type="password" placeholder="Password"/>
    <br><input name="password_confirm" type="password" placeholder="Confirm Password"/>
    <br><input type="submit" value="Submit" />
</body>
