<!Doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../skeleton.css">
</head>
<body bgcolor="#ebe7dd">
<div class="header-site">
  <br>

  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Menu
      </button>
      <div class="dropdown-content">
        <a href="/spaces">Listings</a>
        <a href="/requests">Requests</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
  <center><h1><br> <%= @space.space_name %></h1></center>
  </div>
  <div class="w3-container">
  <p><%= @space.description %></p>

  <div class="w3-panel w3-blue w3-card-4">
    £<%= @space.price %> Price per Night
  </div>
</div>
  <center><form action="/requests/new" method="post">
    <br><input name="check_in_date" type="date" placeholder="Check in"/>
    <br><input type="submit" value="Request" />
    </form>
